block vars
  - name = 'not found';
  - description = 'im sofish\'s cat, and what u\'re finding is ated';

extend index

block nav
block logo
block content
  .center.typo-h4.serif.up
    img(src='/theme/default/img/cat.svg', width='256')
    br
    |nothing found. 
    br
    |maybe it's lay on my stomach &rarr;&nbsp;
    a(href='http://sofi.sh') sofi.sh
    |.
block comments
block footer
  
