block vars
  - name = 'server error';
  - description = 'im taking a break, please retry later.';

extend index

block logo
block content
  .center.typo-h4.serif.up 
    img(src='/theme/default/img/ghost.svg', width='256')
    br
    |server is taking a break, please retry later &rarr;&nbsp;
    a(href='http://sofi.sh') sofi.sh
    |.
block comments
block footer
