@import "var.css";

*, *::before, *::after { box-sizing: border-box; }
html, body { background-color:#ecf0f1; height: 100%; font-size: 16px;}
.close { border: none; background: none;  }
.copyright { position: fixed; bottom: 2em; right: 2em; font-style: italic; }

#writer{ min-height: 100%; }
#count { position: fixed; bottom: 2em; left: 2em; font-size: 0.8em; color: #999;
  &::before{ content: 'count: '; }
}
#show {
  width: 100%; height: 100%; position: fixed; bottom: -100%; left: 0; background: #bdc3c7; opacity: 0.95; padding: 3em; overflow: auto;
  transition: bottom 0.1s ease-in; transform: translateZ(0);
  .close { color: #999; font-size: 44px; position: absolute; top: 24px; right: 36px; font-family: courier; opacity: 80%; }
  &.active{ bottom: 0; }
  pre { background: none; max-width: 100%; font-family: consolas; }
}

#utilities {
  position: fixed; top: 2em; right: 2em;
  button, img { display: inline-block; height: 24px; line-height: 24px; text-align: center; vertical-align: middle; margin-left: 0.3em; }
  button { background: none; color: #333; border: 1px solid #aaa; text-transform: uppercase; border-radius: 3px; line-height: 1; }
  img { width: 18px; height: 18px; margin-left: 3em; }
}
