block append vars
  - name = '文章归档';
  - description = '所有 sofi.sh 上的页面';
  
extends ../../theme/default/index

block content
  .container.typo
    section#posts

block comments
block footer
block append scripts
  script(src='./main.js')
