block vars
  - name = 'ele.me 是如何运行的';
  - description = '如何在任何时候发布都不宕机，且200s 发布到所有机器？如何直接写 ES6 / CSS Next?';
  
extends ../../theme/default/index

block content
  
  .container.typo
    h1=name
    p=description
  
  
block append scripts
  script(src='./main.js')
