block append vars
  - name = 'Sofish 的私人博客';
  - description = '偶尔写点东西也挺好的嘛'
  
extends ../../theme/default/index

block content
  .container.typo
    p 一些&nbsp;
      a(href='http://weibo.com/isofish') 微博
      |&nbsp;说不清的话，会偶尔在这里写下来。这个网站所有源代码开源于 GitHub 上，具体可以查看&nbsp;
      a(href='https://github.com/sofish/sofi.sh') 这个仓库
      |。关于我，目前作为一名工程师，在饿了么处理一些关于前端的事情。
    p.
      下面是最近写的一些文章：

    hr

    section#posts

block comments
block footer
block append scripts
  script(src='/home/main.js')
