block append vars
  - name = 'Sofish 的私人博客';
  - description = '偶尔写点东西也挺好的嘛'
  
extends ../../theme/default/index

block content
  .container.typo
    h1=name 
    p 平时在 
      a(href='http://weibo.com/isofish') 微博
      |&nbsp;之类的地方还是比较适合聊聊「天气」这样的状态，140 字有些话很难说清楚，然而随着年纪越大
      |越发认为把话说清楚非常重要。之前博客断断续续写了七年，关掉现在又开。只为了再一次有话
      |的时候，能说清楚。
      
    p 为此，写了一个静态网站生成器，开源在 
      a(href='https://github.com/sofish/sofi.sh') 这个仓库
      |，基本上只要提一个 pull-request 且合并后，就会触发网站自动更新。通过代码而非传统博客
      |程序的方式似乎更适合我。那么，写吧。而下面是文章列表：
        
    section#posts
  
block append scripts
  script(src='/home/main.js')
