block append vars
  - name = 'Sofish 的私人博客';
  - description = '偶尔写点东西也挺好的嘛'
  
extends ../../theme/default/index

block content
  .container.typo
    h1=name 
    p 为了写 ES6 和 CSS Next，又造了个小轮子来写点文字。现在还没有写任何东西，作为一个开源的
      |程序，只要会用 GitHub 基本上谁都可以贡献就文字/代码。就在这个 
      a(href='https://github.com/sofish/sofi.sh') 仓库
      |。基本上只要提一个 pull-request，一旦 pr 被合并，就会触发网站自动更新。
      | 想想再也不怕写错别字了，因为别人可以轻松帮修。
        
    p 也是有点折腾了。
    
    section#posts
  
block append scripts
  script(src='/home/main.js', async)
